/* Application wide styles */

.terminal {
	-fx-background-color: #002b36;
}
.styled-text-area .text {
    -fx-fill: #839496;
}
.styled-text-area .terminal-bold {
	-fx-font-weight: bold;
}

.styled-text-area .terminal-foreground-black {
	-fx-fill: #073642;
}
.styled-text-area .terminal-foreground-red {
	-fx-fill: #dc322f;
}
.styled-text-area .terminal-foreground-green {
	-fx-fill: #859900;
}
.styled-text-area .terminal-foreground-yellow {
	-fx-fill: #b58900;
}
.styled-text-area .terminal-foreground-blue {
	-fx-fill: #268bd2;
}
.styled-text-area .terminal-foreground-magenta {
	-fx-fill: #d33682;
}
.styled-text-area .terminal-foreground-cyan {
	-fx-fill: #2aa198;
}
.styled-text-area .terminal-foreground-white {
	-fx-fill: #839496;
}

.styled-text-area .terminal-foreground-black-bright {
	-fx-fill: derive(#073642, 20%);
}
.styled-text-area .terminal-foreground-red-bright {
	-fx-fill: derive(#dc322f, 20%)
}
.styled-text-area .terminal-foreground-green-bright {
	-fx-fill: derive(#859900, 20%)
}
.styled-text-area .terminal-foreground-yellow-bright {
	-fx-fill: derive(#b58900, 20%)
}
.styled-text-area .terminal-foreground-blue-bright {
	-fx-fill: derive(#268bd2, 20%)
}
.styled-text-area .terminal-foreground-magenta-bright {
	-fx-fill: derive(#d33682, 20%)
}
.styled-text-area .terminal-foreground-cyan-bright {
	-fx-fill: derive(#2aa198, 20%)
}
.styled-text-area .terminal-foreground-white-bright {
	-fx-fill: derive(#839496, 20%)
}

.styled-text-area .terminal-background-black {
	-rtfx-background-color: #073642;
}
.styled-text-area .terminal-background-red {
	-rtfx-background-color: #dc322f;
}
.styled-text-area .terminal-background-green {
	-rtfx-background-color: #859900;
}
.styled-text-area .terminal-background-yellow {
	-rtfx-background-color: #b58900;
}
.styled-text-area .terminal-background-blue {
	-rtfx-background-color: #268bd2;
}
.styled-text-area .terminal-background-magenta {
	-rtfx-background-color: #d33682;
}
.styled-text-area .terminal-background-cyan {
	-rtfx-background-color: #2aa198;
}
.styled-text-area .terminal-background-white {
	-rtfx-background-color: #839496;
}

.styled-text-area .terminal-background-black-bright {
	-rtfx-background-color: derive(#073642, 20%);
}
.styled-text-area .terminal-background-red-bright {
	-rtfx-background-color: derive(#dc322f, 20%)
}
.styled-text-area .terminal-background-green-bright {
	-rtfx-background-color: derive(#859900, 20%)
}
.styled-text-area .terminal-background-yellow-bright {
	-rtfx-background-color: derive(#b58900, 20%)
}
.styled-text-area .terminal-background-blue-bright {
	-rtfx-background-color: derive(#268bd2, 20%)
}
.styled-text-area .terminal-background-magenta-bright {
	-rtfx-background-color: derive(#d33682, 20%)
}
.styled-text-area .terminal-background-cyan-bright {
	-rtfx-background-color: derive(#2aa198, 20%)
}
.styled-text-area .terminal-background-white-bright {
	-rtfx-background-color: derive(#839496, 20%)
}